<ion-view view-title="Home">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Schools</strong>
        </div>
        <div class="im-wrapper">
            <div class="list">
                <a class="item item-avatar" href="#/app/greens">
                    <img src="img/material1.jpg">
                    <h2>Greens High School</h2>
                    <p>Dombivali East</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material2.jpg">
                    <h2>Excellenta</h2>
                    <p>Andheri West</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material3.jpg">
                    <h2>St. Xaviers High School</h2>
                    <p>Fort</p>
                </a>
            </div>
            </br>
            <div>
                <button class="button button-block button-calm" ng-click="google_login()">
                    Google Login
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
